{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
<h1>Sitio en construcción</h1>
<h2>Revisión supervisor</h2>
<br/>
<table class="table table-striped table-hover ">
    <thead class="table-secondary">
        <tr>
            <th scope="col">Código</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
        </tr>
    </thead>
    {% for detail in guia_details %}
        <tr>
            <td>{{ detail.producto.codigo_producto }}</td>
            <td>{{ detail.producto.descripcion_producto }}</td>
            <td>{{ detail.cantidad_producto}}</td>
        </tr>
    {% endfor %}
</table>
<a href="{% url 'DWMSrevisionPicking' %}" class="btn btn-secondary">Atrás</a>
<a href="{% url 'DWMSrevisionPicking' %}" class="btn btn-success">Aprobar</a>

{% endif %}

{% endblock %}
